@import '../../variables';

.panelWrapper {
  background-color: $panel-bg-color;
  font-size: 14px;
  margin: 0 10px;

  &.types {
    flex: 2 2;
    order: 1;
  }
  &.severities {
    flex: 2 2;
    order: 2;
  }
  &.sources {
    flex: 1 1;
    order: 3;
  }
}
